# dependencies
node_modules/

# build
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env

# system files
.DS_Store
Thumbs.db

# Backend
chatbot-backend/chroma-db/
chatbot-backend/__pycache__/
chatbot-backend/*.pyc